.checkout__body {
    background-color: #EAEDED;
    height: 100%;
    display: flex;
}

.checkout__container {
    background-color: white;
    margin: 2.5rem;
    flex:3
}
.checkout__buy{
 flex:1;
}
.textgap {
    margin: .5rem;
}
.placeorder__button{
   background-color: #FFD712;
   font-size: 1.5rem;
}
.remove__btn{
    display: flex;
    flex-direction: column;
}

.remove__btn >button{
    margin-top: auto;
    margin-bottom: 30%;
    background-color: #FFD712;
    border-radius: 10rem;
    box-shadow: rgba(204, 218, 15, 0.685) 0 -25px 18px -14px inset,rgba(178, 236, 18, 0.836) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(6, 7, 6);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: .7rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1.6rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}

.remove__btn >button:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}



